//========================================================================================================================================================
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("@img/registration-login/bg.jpg") 0 0 / cover no-repeat;
    // .login-page__form
    &__form {
    }
}
.form {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    display: grid;
    gap: rem(20);
    max-width: rem(420);
    width: 100%;
    // form__title
    &__title {
        font-size: rem(36);
        font-weight: 700;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
    // .form__input-box
    &__input-box {
    }
    // .form__input
    &__input {
    }
    // .form__remember-forgot
    &__remember-forgot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(7);
        row-gap: rem(15);
        @media (max-width: em(380)) {
            flex-direction: column;
        }
    }
    // .form__link
    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    // .form__button
    &__button {
        background-color: #fff;
        color: #000;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 40px;
        font-size: 16px;
        color: #333;
        font-weight: 500;
    }
    // .form__registration-link
    &__registration-link {
        text-align: center;
        a {
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.checkbox {
    // .checkbox__input
    &__input {
    }
    // .checkbox__label
    &__label {
    }
    // .checkbox__text
    &__text {
    }
}

//========================================================================================================================================================
